*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    width: 100%;
}
/*=================header=================*/
.header{
    background-color: #521378;
    display: flex;
    justify-content: center;
}
.header_i{
    margin-top: 16px;
    margin-bottom: 23px;
    max-width: 80px;
}
.header__faq{
    background-color: #190E38;
}
.faq__i{
    max-width: 1920px;
    max-height: 640px;
    width: 100%;
}
/*================= Section slider =================*/
.section_slider{
    height: 100%;
    position: relative;
    background: #37144D;
    overflow: hidden;
    text-align: center;
}
.section_slider_wrapper{
    max-width: 1250px;
    width: 100%;
    height: 100%;
    margin: auto;
}
.controler{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.showcase_container{
    height: 700px;
    width: 80%;
    display: flex;
    overflow: hidden;
}
.showcasw_content{
    margin: 0 15px;
}
.slider_text{
    font-family: 'SF Pro Display';
    font-style: normal;
    font-weight: 700;
    font-size: 50px;
    line-height: 60px;
    text-transform: uppercase;
    color: #FFFFFF;
    margin-top: 90px;
    margin-bottom: 60px;
}