*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    width: 100%;
    background-color: #190E38;
}
/*=================header=================*/
.header{
    background-color: #521378;
    display: flex;
    justify-content: center;
}
.header_i{
    margin-top: 16px;
    margin-bottom: 23px;
    max-width: 80px;
}
.header__faq{
    background:url('/IMG/header__faq/header.svg') 0 0/100% auto no-repeat;
}
/*================= Section slider =================*/
.section_slider{
    height: 100%;
    position: relative;
    background: #37144D;
    overflow: hidden;
    text-align: center;
    padding: 60px 0;
}
.section_slider_wrapper{
    max-width: 1250px;
    width: 100%;
    height: 100%;
    margin: auto;
}
.controler{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.showcase_container{
    height: 700px;
    width: 87%;
    display: flex;
    overflow: hidden;
    align-items: center;
}
.showcasw_content{ 
    width: auto;
    margin: 0 15px;
}
.slider_text{
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 50px;
    line-height: 60px;
    text-transform: uppercase;
    color: #FFFFFF;
    margin-top: 20px;
    margin-bottom: 60px;
    color: #FFFFFF;
}
.item{
}
.action_block{
    margin: 0 30px;
    width: auto;
}
.action{
    height: 700px;
    width: 360px;
}
/*================= Header faq =================*/
.header__faq_wrapper{
    text-align: center;
    max-width: 1200px;
    width: 90%;
    margin: auto;
}
.di{
    height: 50px;
    width: 100%;
}
.header__faq_container{
    position: relative;
    width: 100%;
    height: auto;
    background: #521378;
    border-radius: 20px;
    margin-bottom: 70px;
    display: flex;
    padding: 40px 70px;
}
.koli{
    text-align: center;
    display: flex;
    justify-content: center;
}
.one_block_1{
    margin-top:38px;
    max-width: 1170px;
    width: 100%;
    height: 583px;
    position: absolute;
    background-color: #521378;
    bottom: 5px;
}
.header__faq_items{
    text-align: center;
    max-width: 1200px;
    width: 100%;
    margin: auto;
}
.header__faq_item{
    margin: 30px 0;
    display: flex;
    justify-content: space-between;
    text-align: left;
    width: 100%;
    padding: 20px 30px;
    background: #521378;
    box-shadow: 0px 4px 15px 2px rgba(0, 0, 0, 0.25);
    border-radius: 8px 8px 0px 0px;
}
p{
    font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 36px;
    color: #FFFFFF;
}
.left_container{
    width: 35%;
}
.right_container{
    padding-top: 65px;
    width: 65%;
    text-align: left;
}
.promo{
    font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 50px;
    line-height: 60px;
    color: #FBDE01;
}
.firstdeposit{
    margin: 30px 0;
    background: #592FA5;
    border-radius: 4px;
    text-align: center;
    width: 93%;
    padding: 10px;
}
.fdt{
    font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 36px;
    color: #FFFFFF;
}
.use{
    margin-top: 25px;
    margin-bottom: 40px;
    display: flex;
    justify-content: space-between;
}
.left_use,.right_use{
    display: flex;
    justify-content: center;
    align-items: center;
}
.hack{
    font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 50px;
    line-height: 60px;
    color: #FF3100;
}
.earn_btms{
    display: flex;
    width: 100%;
    justify-content: space-between;
}
.earn_btml{
    padding: 25px;
    background: #00B74A;
    box-shadow: 2px 4px 20px 2px rgba(0, 0, 0, 0.5);
    border-radius: 16px;
    font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 28px;
    line-height: 33px;
    color: #FFFFFF;
    text-decoration: none;
}
.earn_btmr{
    padding: 25px;
    background: #ED9D00;
    box-shadow: 2px 4px 20px 2px rgba(0, 0, 0, 0.5);
    border-radius: 16px;
    font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 28px;
    line-height: 33px;
    color: #FFFFFF;
    text-decoration: none;
    display: flex;
    justify-content: space-between;
    border-radius: 20px;
}
.secret{
    color:#FBDE01;
    font-style: normal;
    font-weight: 700;
    font-size: 50px;
    font-family: 'Roboto', sans-serif;
    margin-bottom:30px;
}
.left{
    padding-left: 106px;
    padding-top: 42px;
    text-transform: uppercase;
}
.left_knop{
    padding-top:30px;
    padding-bottom:30px;
    background-color: #00B74A;
    border-radius: 8px;
    text-align: center;
    justify-content: center;
    margin-right: 20px;
    padding-left: 50px;
    padding-right: 50px;
}
.right_knop{
    padding-top:30px;
    padding-bottom:30px;
    background-color: #ED9D00;
    border-radius: 8px;
    text-align: center;
    justify-content: center;
    padding-left: 64px;
    padding-right: 64px;
}
.left_knop_img{
    text-decoration: none;
    color:#FFFFFF;
}
.right_knop_img{
    text-decoration: none;
    color:#FFFFFF;
    max-width: 100px;
    width: 100%;
    text-align: center;
}
.bottom_knop{
    display: flex;
    justify-content: center;
}
.right{
    margin-right:235px;
    margin-top:100px;
}
.text2{
    background-color: #592FA5;
    color:#FFFFFF;
    font-family: 'Roboto', sans-serif;
    padding: 10px;
    border-radius: 4px;
}
.jet{
    position: absolute;
    right: -110px;
    top: -70px;
}
/*====================Second__section================*/
.img2_i{
    height: 99px;
}
.contact{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-top:90px;
    padding-bottom: 90px;
}
.contact__text{
    padding-bottom: 60px;
    color:#FFFFFF;
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    text-transform: uppercase; 
    font-family: 'Roboto', sans-serif;
}
.partners__icon__img{
    margin:10px;
}
.second__text{
    background-color: #190E38;
}
.partners__icon__img{
    max-width: 280px;
}
.partners__text{
    font-family: 'Roboto', sans-serif;
    text-transform: uppercase;
    color: #FFFFFF;
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    padding-bottom: 60px;
}
.partners{
    display: flex;
    justify-content: center;
    align-items:center;
    flex-direction: column;
}